<center><h1><%= @blogger.name %><h1>
<p><label>Age: </label><%= @blogger.age %></p>
<p><label>Total Likes: </label><%= @blogger.total_likes %></p>
<p><%= @blogger.bio %></p></center>


<p><%= link_to "Edit", edit_blogger_path(@blogger) %></p></center>